<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
  <title>  خطأ في البيانات </title>
</head>
<style>
    .img a {
    justify-content: center;
    display: flex
;
    font-size: 22px;
    font-weight: bold;
    color: #ff8c42;
    margin-top: 76px;
    align-items: center;
}
</style>
<body>
  <div class="container" style="margin-top: 20px; border: 2px solid red;box-shadow: rgba(242, 2, 2, 0.5) 0px 30px 30px -20px ">
    <div class="img">
      <h1 style="color: red;"> برجاء إدخال بيانات صحيحة </h1>
      <a href="http://localhost:3000/form">العودة إلى صفحة التسجيل </a>
    </div>
  </div>
  

</body>
</html>
