<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
  <title>تم التسجيل بنجاح</title>
</head>
<body>
  <div class="container" style="margin-top: 20px;">
    <div class="img">
      <h1>تم التسجيل بنجاح</h1>
      <p style="color: white;">شكرًا لكم علي تواصلكم مع مكتب مبارك للإعلان </p>
      <a href="http://localhost:3000/index.html">العودة إلى الصفحة الرئيسية</a>
    </div>
  </div>
  
</body>
</html>
